<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.sym.grp.mapper.GroupDidInfoManagerMapper">
    <select id="selectGroupInfoManageListByPagination" resultType="GroupDidInfoVO">
        SELECT
            A.GROUP_CODE AS "groupCode",
            A.DID_ID AS "didId",
            C.DID_NM AS "didNm"
        FROM TB_GROUPDID A
                 JOIN TB_GROUP B ON A.GROUP_CODE = B.GROUP_CODE
                 JOIN TB_DIDINFO C ON A.DID_ID = C.DID_ID
        WHERE A.GROUP_CODE = #{groupCode}
        ORDER BY C.DID_NM ASC
    </select>

    <!-- NOT FOUND
        <select id="selectgroupCodeidCheckInfoManageListTotCnt_S" resultType="java.lang.Integer">
           SELECT COALESCE(COUNT(*), 0)
           FROM TB_GROUPDID A
           JOIN TB_GROUP B ON A.GROUP_CODE = B.GROUP_CODE
           JOIN TB_DIDINFO C ON A.DID_ID = C.DID_ID
           WHERE A.GROUP_CODE = #{groupCode}
           AND A.DID_ID = #{didId}
        </select>
    -->
    <select id="selectGroupInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*), 0)
        FROM TB_GROUPDID A
                 JOIN TB_GROUP B ON A.GROUP_CODE = B.GROUP_CODE
                 JOIN TB_DIDINFO C ON A.DID_ID = C.DID_ID
        WHERE A.GROUP_CODE = #{groupCode}
    </select>

    <select id="selectComboLst" resultType="GroupDidInfo">
        SELECT A.DID_ID AS "didID", A.DID_NM AS "didNm"
        FROM TB_DIDINFO A
        WHERE A.DID_ID NOT IN (SELECT did_id FROM TB_GROUPDID)
    </select>

    <insert id="insertGroupInfoManage">
        INSERT INTO TB_GROUPDID (GROUP_CODE, DID_ID)
        VALUES (#{groupCode}, #{didId})
    </insert>

    <delete id="deleteGroupInfoManage">
        DELETE FROM TB_GROUPDID
        WHERE DID_ID = #{didId}
    </delete>
</mapper>