<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.sym.grp.mapper.GroupInfoManagerMapper">

    <!-- 페이징 목록 조회 (LIMIT / OFFSET 및 재귀 CTE 적용) -->
    <select id="selectGroupInfoManageListByPagination" resultType="GroupInfoVO">
        SELECT
        A.GROUP_CODE as "groupCode",
        A.GROUP_NM as "groupNm",
        A.GROUP_USEYN as "groupUseYn",
        (SELECT COUNT(*) FROM TB_GROUPDID b WHERE A.GROUP_CODE = b.GROUP_CODE) AS did_CNT,
        COUNT(*) OVER() AS TOTAL_RECORD_COUNT
        FROM TB_GROUP A
        WHERE 1=1
        <if test="params.roleId != 'ROLE_ADMIN' and params.roleId != 'ROLE_ANONYMOUS'">
            <choose>
                <when test="params.roleId == 'ROLE_DID_ADMIN' or params.roleId == 'ROLE_MUSIC_ADMIN'">
                    AND A.GROUP_ID IN (
                    WITH RECURSIVE CTE AS (
                        SELECT GROUP_ID
                        FROM LETTNAUTHORGROUPINFO
                        WHERE GROUP_ID = (SELECT GROUP_ID FROM LETTNGNRLMBER WHERE MBER_ID = #{mberId})

                    UNION ALL

                    SELECT T.GROUP_ID
                    FROM LETTNAUTHORGROUPINFO T
                    INNER JOIN CTE C ON T.PARENT_GROUP_ID = C.GROUP_ID
                    )
                    SELECT GROUP_ID FROM CTE
                    )
                </when>
                <otherwise>
                    AND A.CENTER_ID = (SELECT CENTER_ID FROM LETTNGNRLMBER WHERE MBER_ID = #{mberId})
                </otherwise>
            </choose>
        </if>
        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
            <choose>
                <when test="searchCondition == 'GROUP_ID'">
                    AND A.GROUP_CODE LIKE '%' || #{searchKeyword} || '%'
                </when>
                <otherwise>
                    AND A.GROUP_NM LIKE '%' || #{searchKeyword} || '%'
                </otherwise>
            </choose>
        </if>
        ORDER BY A.FRST_REGIST_PNTTM DESC
        LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
    </select>

    <!-- 콤보박스 목록 조회 -->
    <select id="selectGroupInfoManageCombo" resultType="GroupInfoVO">
        SELECT
        GROUP_CODE as "groupCode",
        GROUP_NM as "groupNm"
        FROM TB_GROUP
        WHERE GROUP_USEYN = 'Y'
        <if test="authorCode != 'ROLE_ADMIN' and authorCode != 'ROLE_ANONYMOUS'">
            <choose>
                <when test="authorCode == 'ROLE_DID_ADMIN' or authorCode == 'ROLE_MUSIC_ADMIN'">
                    AND GROUP_ID IN (
                    WITH RECURSIVE CTE AS (
                        SELECT GROUP_ID
                        FROM LETTNAUTHORGROUPINFO
                        WHERE GROUP_ID = (SELECT GROUP_ID FROM LETTNGNRLMBER WHERE MBER_ID = #{mberId})

                    UNION ALL

                    SELECT T.GROUP_ID
                    FROM LETTNAUTHORGROUPINFO T
                    INNER JOIN CTE C ON T.PARENT_GROUP_ID = C.GROUP_ID
                    )
                    SELECT GROUP_ID FROM CTE
                    )
                </when>
                <otherwise>
                    AND CENTER_ID = (SELECT CENTER_ID FROM LETTNGNRLMBER WHERE MBER_ID = #{mberId})
                </otherwise>
            </choose>
        </if>
        <if test="searchKeyword != ''">
            AND GROUP_NM LIKE '%' || #{searchKeyword} || '%'
        </if>
        ORDER BY GROUP_CODE ASC
    </select>

    <!-- 상세 조회 -->
    <select id="selectGroupInfoManageDetail" resultType="GroupInfo">
        SELECT
            GROUP_CODE as "groupCode",
            GROUP_NM as "groupNm",
            GROUP_USEYN as "groupUseYN"
        FROM TB_GROUP
        WHERE GROUP_CODE = #{groupCode}
    </select>

    <!-- 그룹 코드 단건 존재 여부/총건수 조회 -->
    <select id="selectGroupIDInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*), 0)
        FROM TB_GROUP a
        WHERE 1=1 AND GROUP_CODE = #{groupCode}
    </select>

    <!-- 총 건수 조회 -->
    <select id="selectGroupInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*), 0)
        FROM TB_GROUP A
        WHERE 1=1
        <if test="authorCode != 'ROLE_ADMIN' and authorCode != 'ROLE_ANONYMOUS'">
            <choose>
                <when test="authorCode == 'ROLE_DID_ADMIN' or authorCode == 'ROLE_MUSIC_ADMIN'">
                    AND A.GROUP_ID IN (
                    WITH RECURSIVE CTE AS (
                    SELECT GROUP_ID
                    FROM LETTNAUTHORGROUPINFO
                    WHERE GROUP_ID = (SELECT GROUP_ID FROM LETTNGNRLMBER WHERE MBER_ID = #{mberId})

                    UNION ALL

                    SELECT T.GROUP_ID
                    FROM LETTNAUTHORGROUPINFO T
                    INNER JOIN CTE C ON T.PARENT_GROUP_ID = C.GROUP_ID
                    )
                    SELECT GROUP_ID FROM CTE
                    )
                </when>
                <otherwise>
                    AND A.CENTER_ID = (SELECT CENTER_ID FROM LETTNGNRLMBER WHERE MBER_ID = #{mberId})
                </otherwise>
            </choose>
        </if>
        <if test="searchKeyword != ''">
            <choose>
                <when test="searchCondition == 'GROUP_ID'">
                    AND A.GROUP_CODE LIKE '%' || #{searchKeyword} || '%'
                </when>
                <otherwise>
                    AND A.GROUP_NM LIKE '%' || #{searchKeyword} || '%'
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 마지막 그룹 ID 조회 -->
    <select id="selectLastInsertGroup" resultType="java.lang.String">
        SELECT EMARTCMS.FN_GROUPID()
    </select>

    <!-- 등록 -->
    <insert id="insertGroupInfoManage">
        INSERT INTO TB_GROUP (GROUP_CODE, GROUP_NM, GROUP_USEYN, GROUP_ID, CENTER_ID, FRST_REGIST_PNTTM)
        VALUES (#{groupCode}, #{groupNm}, 'Y', #{groupId,jdbcType=VARCHAR}, #{centerId,jdbcType=VARCHAR}, NOW())
    </insert>

    <!-- 수정 -->
    <update id="updateGroupInfoManage">
        UPDATE TB_GROUP
        SET GROUP_NM = #{groupNm}
        WHERE GROUP_CODE = #{groupCode}
    </update>

    <!-- 삭제 -->
    <delete id="deleteGroupInfoManage">
        DELETE FROM TB_GROUP
        WHERE GROUP_CODE = #{groupCode}
    </delete>

</mapper>