<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.sym.did.mapper.DidInfoManagerMapper">
    <select id="selectDidManagerInfoManageListByPagination" resultType="DidInfoVO">
        SELECT
        X.didId, X.didNm, X.groupNm, COALESCE(X.schName, '없음') AS schName, X.didSttus,
        X.codeNm, X.RNUM
        FROM
        (
        SELECT
        ROW_NUMBER() OVER (ORDER BY A.FRST_REGIST_PNTTM DESC) AS RNUM,
        TB.*
        FROM
        (
        SELECT
        A.DID_ID AS didId,
        A.DID_NM AS didNm,
        B.GROUP_NM AS groupNm,
        (
        SELECT C.SCH_NAME
        FROM TB_SCHEDULE C
        JOIN TB_GROUPDID G ON C.GROUP_CODE = G.GROUP_CODE
        JOIN TB_CONTENTSENDHISTORY F ON C.SCH_CODE = F.SCH_CODE
        WHERE TO_CHAR(NOW(), 'YYYYMMDD') BETWEEN C.SCH_STARTDAY AND C.SCH_ENDDAY
        AND C.GROUP_CODE = E.GROUP_CODE
        AND F.DID_ID = A.DID_ID
        <if test="searchschCode != ''">
            AND C.SCH_CODE = #{searchschCode}
        </if>
        AND F.DID_UPDATECHECK = 'Y'
        LIMIT 1
        ) AS schName,
        A.DID_STTUS AS didSttus,
        A.DID_MAC AS didMac,
        FN_DETAILCODENM(A.DID_SWVER) AS codeNm
        FROM TB_DIDINFO A
        JOIN TB_GROUP B ON 1=1
        JOIN TB_GROUPDID E ON A.DID_ID = E.DID_ID AND B.GROUP_CODE = E.GROUP_CODE
        WHERE 1=1
        <if test="searchdidSwver != ''">
            AND A.DID_SWVER = #{searchdidSwver}
        </if>
        <if test="authorCode != 'ROLE_ADMIN' and authorCode != 'ROLE_ANONYMOUS'">
            <choose>
                <when test="authorCode == 'ROLE_DID_ADMIN' or authorCode == 'ROLE_MUSIC_ADMIN'">
                    AND A.GROUP_ID IN
                    (
                    WITH RECURSIVE cte AS (
                    SELECT GROUP_ID, PARENT_GROUP_ID
                    FROM LETTNAUTHORGROUPINFO
                    WHERE GROUP_ID = #{groupId}
                    UNION ALL
                    SELECT g.GROUP_ID, g.PARENT_GROUP_ID
                    FROM LETTNAUTHORGROUPINFO g
                    JOIN cte ON g.PARENT_GROUP_ID = cte.GROUP_ID
                    )
                    SELECT GROUP_ID FROM cte
                    )
                </when>
                <otherwise>
                    AND A.CENTER_ID = #{centerId}
                </otherwise>
            </choose>
        </if>
        ) TB
        ) X
        WHERE X.RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
    </select>

    <select id="selectDidManagerInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*), 0)
        FROM TB_DIDINFO A
        JOIN TB_GROUP B ON 1=1
        JOIN TB_GROUPDID E ON A.DID_ID = E.DID_ID AND B.GROUP_CODE = E.GROUP_CODE
        WHERE 1=1
        <if test="searchdidSwver != ''">
            AND A.DID_SWVER = #{searchdidSwver}
        </if>
        <choose>
            <when test="author_Code == 'ROLE_ADMIN' and groupCode == 'EMART_00000000000009'">
                AND A.DID_MODELTYPE = 'DIDRMODELTYPE03'
            </when>
            <when test="author_Code == 'ROLE_ANONYMOUS' and parentGroupId == 'EMART_00000000000001'">
                AND A.ROLE_CODE IN
                (
                SELECT GROUP_ID
                FROM LETTNAUTHORGROUPINFO
                WHERE PARENT_GROUP_ID = #{groupCode}
                )
            </when>
            <when test="author_Code == 'ROLE_USER_MEMBER'">
                AND A.ROLE_CODE = #{groupCode}
            </when>
        </choose>
        <if test="centerId != null">
            AND A.CENTER_ID = #{centerId}
        </if>
        <if test="didModelType != null">
            AND A.DID_MODELTYPE = #{didModelType}
        </if>
    </select>

    <select id="selectDidInfoManageListByPagination" resultType="DidInfoVO">
        SELECT * FROM
        (
        SELECT
        ROW_NUMBER() OVER (ORDER BY A.FRST_REGIST_PNTTM DESC) AS RNUM,
        TB.*
        FROM
        (
        SELECT
        A.DID_ID AS "didId",
        A.DID_NM AS "didNm",
        A.DID_IPADDR AS "didIpaddr",
        B.CENTER_NM AS "centerNm",
        CASE A.DID_STTUS
        WHEN 'N' THEN 'OFF'
        ELSE 'ON'
        END AS didSttus,
        A.DID_USEYN AS "didUseYn",
        FN_DETAILCODENM(A.DID_OS) AS DIDOS,
        A.DID_MAC AS DIDMAC,
        <![CDATA[
                (
                   SELECT COUNT(*)
                   FROM TB_SCHEDULE
                   WHERE GROUP_CODE =
                   (
                      SELECT GROUP_CODE
                      FROM TB_GROUPDID
                      WHERE DID_ID = A.DID_ID
                   )
                   AND TO_CHAR(NOW(), 'YYYYMMDD') <= SCH_ENDDAY
                ) AS schCnt
                ]]>
        FROM TB_DIDINFO A
        JOIN TB_CENTERINFO B ON A.CENTER_ID = B.CENTER_ID
        WHERE 1=1
        <if test="searchKeyword != ''">
            <choose>
                <when test="searchCondition == 'didId'">
                    AND A.DID_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <otherwise>
                    AND A.DID_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="author_Code == 'ROLE_ADMIN' and groupCode == 'EMART_00000000000009'">
                AND A.DID_MODELTYPE = 'DIDRMODELTYPE03'
            </when>
            <when test="author_Code == 'ROLE_ANONYMOUS' and parentGroupId == 'EMART_00000000000001'">
                AND A.ROLE_CODE IN
                (
                SELECT GROUP_ID
                FROM LETTNAUTHORGROUPINFO
                WHERE PARENT_GROUP_ID = #{groupCode}
                )
            </when>
            <when test="author_Code == 'ROLE_USER_MEMBER'">
                AND A.ROLE_CODE = #{groupCode}
            </when>
        </choose>
        <if test="centerId != ''">
            AND A.CENTER_ID = #{centerId}
        </if>
        <if test="didModelType != ''">
            AND A.DID_MODELTYPE = #{didModelType}
        </if>
        ) TB
        ) TA
        WHERE TA.RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
    </select>

    <select id="selectDidInfoManageCombo" resultType="DidInfo">
        SELECT
            DID_ID AS "didId", DID_NM AS "didNm"
        FROM TB_DIDINFO
        WHERE DID_USEYN = 'Y'
        ORDER BY DID_ID ASC
    </select>

    <select id="selectDidrInfoManageDetail" resultType="DidInfoVO">
        SELECT
            DID_ID AS didId,
            DID_NM AS didNm,
            DID_MAC AS didMac,
            DID_IPADDR AS didIpaddr,
            DID_SWVER AS didSwver,
            CENTER_ID AS centerId,
            DID_TYPE AS didType,
            DID_RESOLUTION AS didResolution,
            DID_WIDTH AS didWidth,
            DID_HEIGHT AS didHeight,
            DID_IPTYPE AS didIptype,
            DID_MODELTYPE AS didModelType,
            DID_USEYN AS didUseYn,
            TO_CHAR(DID_ENDCONTIME, 'YYYY-MM-DD HH24:MI:SS') AS didEndContime,
            DID_ENDTIME AS didEndTime,
            FRST_REGIST_PNTTM AS frstRegistPnttm,
            FRST_REGISTER_ID AS frstRegisterId,
            LAST_UPDT_PNTTM AS lastRegistPnttm,
            LAST_UPDUSR_ID AS lastRegisterId,
            DID_REMARK AS didRemark,
            ROLE_CODE AS roleCode,
            DID_STTUS AS didSttus,
            DID_OS AS didOs,
            DID_SERIALTYPE AS didSerialtype,
            DID_SERIALPORT AS didSerialport,
            DID_MONITERCNT AS didMonitercnt,
            DID_STAETTIME AS didStartTime,
            DID_TIMEINTERVAL AS didTimeInterval,
            DID_SERIALJAVASCRIPT AS didSerialjavascript,
            (
                SELECT E.GROUP_NM
                FROM TB_GROUPDID D
                         JOIN TB_GROUP E ON D.GROUP_CODE = E.GROUP_CODE
                WHERE D.DID_ID = A.DID_ID
            ) AS groupNm,
            (
                SELECT E.GROUP_CODE
                FROM TB_GROUPDID D
                         JOIN TB_GROUP E ON D.GROUP_CODE = E.GROUP_CODE
                WHERE D.DID_ID = A.DID_ID
            ) AS groupId
        FROM TB_DIDINFO A
        WHERE DID_ID = #{didId}
    </select>

    <select id="selectDidrInfoManageDetailView" resultType="DidInfoVO">
        SELECT
            A.DID_ID AS didId,
            A.DID_NM AS didNm,
            A.DID_MAC AS didMac,
            A.DID_IPADDR AS didIpaddr,
            FN_DETAILCODENM(A.DID_SWVER) AS didSwver,
            B.CENTER_NM AS centerNM,
            FN_DETAILCODENM(A.DID_TYPE) AS didType,
            FN_DETAILCODENM(A.DID_RESOLUTION) AS didResolution,
            DID_WIDTH AS didWidth,
            DID_HEIGHT AS didHeight,
            FN_DETAILCODENM(A.DID_IPTYPE) AS didIptype,
            FN_DETAILCODENM(A.DID_MODELTYPE) AS didModelType,
            DID_USEYN AS didUseYn,
            TO_CHAR(DID_ENDCONTIME, 'YYYY-MM-DD HH24:MI:SS') AS didEndContime,
            DID_ENDTIME AS didEndTime,
            DID_REMARK AS didRemark,
            C.GROUP_NM AS roleNm,
            DID_STTUS AS didSttus,
            FN_DETAILCODENM(A.DID_OS) AS didOs,
            FN_DETAILCODENM(A.DID_SERIALTYPE) AS didSerialtype,
            FN_DETAILCODENM(A.DID_SERIALPORT) AS didSerialport,
            FN_DETAILCODENM(A.DID_MONITERCNT) AS didMonitercnt,
            DID_STAETTIME AS didStartTime,
            DID_TIMEINTERVAL AS didTimeInterval,
            DID_SERIALJAVASCRIPT AS didSerialjavascript,
            (
                SELECT E.GROUP_NM
                FROM TB_GROUPDID D
                         JOIN TB_GROUP E ON D.GROUP_CODE = E.GROUP_CODE
                WHERE D.DID_ID = A.DID_ID
            ) AS groupNm,
            (
                SELECT E.GROUP_CODE
                FROM TB_GROUPDID D
                         JOIN TB_GROUP E ON D.GROUP_CODE = E.GROUP_CODE
                WHERE D.DID_ID = A.DID_ID
            ) AS groupCode,
          <![CDATA[
            (
                SELECT COUNT(*)
                FROM TB_SCHEDULE
                WHERE GROUP_CODE =
                      (
                          SELECT GROUP_CODE
                          FROM TB_GROUPDID
                          WHERE DID_ID = A.DID_ID
                      )
                  AND TO_CHAR(NOW(), 'YYYYMMDD') <= SCH_ENDDAY
            ) AS schCnt
          ]]>
       FROM TB_DIDINFO A
                 JOIN TB_CENTERINFO B ON A.CENTER_ID = B.CENTER_ID
                 JOIN LETTNAUTHORGROUPINFO C ON A.ROLE_CODE = C.GROUP_ID
        WHERE A.DID_ID = #{didId}
    </select>

    <select id="selectDIDMac" resultType="java.lang.String">
        SELECT COALESCE(DID_MAC, 'N')
        FROM TB_DIDINFO
        WHERE DID_ID = #{didId}
    </select>

    <select id="selectDidInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*), 0)
        FROM TB_DIDINFO A
        JOIN TB_CENTERINFO B ON A.CENTER_ID = B.CENTER_ID
        WHERE 1=1
        <if test="searchKeyword != ''">
            <choose>
                <when test="searchCondition == 'DID_ID'">
                    AND A.DID_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <otherwise>
                    AND A.DID_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                </otherwise>
            </choose>
        </if>
        <if test="groupCode != 'EMART_00000000000002'">
            AND
            (
            A.ROLE_CODE IN
            (
            SELECT GROUP_ID
            FROM LETTNAUTHORGROUPINFO
            WHERE PARENT_GROUP_ID = #{groupCode}
            )
            OR
            A.ROLE_CODE = #{groupCode}
            )
        </if>
        <choose>
            <when test="author_Code == 'ROLE_DID_ADMIN' or author_Code == 'ROLE_DID_USER'">
                AND A.DID_MODELTYPE IN ('DIDRMODELTYPE01', 'DIDRMODELTYPE02')
            </when>
            <when test="author_Code == 'ROLE_MUSIC_ADMIN' or author_Code == 'ROLE_MUSIC_USER'">
                AND A.DID_MODELTYPE = 'DIDRMODELTYPE03'
            </when>
        </choose>
        <if test="centerId != ''">
            AND A.CENTER_ID = #{centerId}
        </if>
        <if test="didModelType != ''">
            AND A.DID_MODELTYPE = #{didModelType}
        </if>
    </select>

    <select id="selectDidDetailContentInfo" resultType="DidInfoVO">
        SELECT
            C.SCH_CODE AS schCode,
            C.SCH_NAME AS schNm,
            FN_DAYCONVERT(C.SCH_STARTDAY) AS schStartday,
            FN_DAYCONVERT(C.SCH_ENDDAY) AS schEndday,
            D.CON_SEQ AS conSeq,
            D.CON_NM AS conNm
        FROM TB_DIDINFO A
                 JOIN TB_GROUPDID B ON A.DID_ID = B.DID_ID
                 JOIN TB_SCHEDULE C ON B.GROUP_CODE = C.GROUP_CODE
                 JOIN TB_CONTENTMUTIL D ON C.CONTENT_CODE = D.CON_SEQ
        WHERE A.DID_ID = #{didId}
       <![CDATA[
          AND TO_CHAR(NOW(), 'YYYYMMDD') <= C.SCH_ENDDAY
       ]]>
       ORDER BY C.SCH_ENDDAY ASC
    </select>

    <select id="selectLastInsertDid" resultType="java.lang.String">
        SELECT FN_DIDID(#{centerId})
    </select>

    <insert id="insertDidInfoManage">
        INSERT INTO TB_DIDINFO
        (
            DID_ID,
            DID_NM,
            DID_SWVER,
            CENTER_ID,
            DID_TYPE,
            DID_RESOLUTION,
            DID_WIDTH,
            DID_HEIGHT,
            DID_IPTYPE,
            DID_MODELTYPE,
            DID_USEYN,
            DID_ENDTIME,
            ROLE_CODE,
            DID_STTUS,
            FRST_REGIST_PNTTM,
            FRST_REGISTER_ID,
            LAST_UPDT_PNTTM,
            LAST_UPDUSR_ID,
            DID_OS,
            DID_SERIALTYPE,
            DID_SERIALPORT,
            DID_MONITERCNT,
            DID_STAETTIME,
            DID_TIMEINTERVAL,
            DID_SERIALJAVASCRIPT
        )
        VALUES
            (
                #{didId},
                #{didNm},
                #{didSwver},
                #{centerId},
                #{didType},
                #{didResolution},
                #{didWidth},
                #{didHeight},
                #{didIptype},
                #{didModelType},
                #{didUseYn,jdbcType=CHAR},
                #{didEndTime,jdbcType=VARCHAR},
                #{roleCode,jdbcType=VARCHAR},
                'N',
                NOW(),
                #{frstRegisterId,jdbcType=VARCHAR},
                NOW(),
                #{lastUpdusrId,jdbcType=VARCHAR},
                #{didOs,jdbcType=VARCHAR},
                #{didSerialtype,jdbcType=VARCHAR},
                #{didSerialport,jdbcType=VARCHAR},
                #{didMonitercnt,jdbcType=VARCHAR},
                #{didStartTime,jdbcType=VARCHAR},
                #{didTimeInterval,jdbcType=VARCHAR},
                #{didSerialjavascript,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateDidMac">
        UPDATE TB_DIDINFO SET
                              DID_MAC = #{didMac},
                              DID_IPADDR = #{didIpaddr},
                              DID_SENDINTERVAL = #{didSendInterval},
                              DID_TYPE = #{didType}
        WHERE DID_ID = #{didId}
    </update>

    <update id="updateDidState">
        UPDATE TB_DIDINFO SET
                              DID_STTUS = #{didSttus},
                              DID_ENDCONTIME = NOW()
        WHERE DID_ID = #{didId}
          AND TRIM(DID_MAC) = #{didMac}
    </update>

    <update id="updateDidEndTime">
        UPDATE TB_DIDINFO SET
            DID_ENDTIME = #{didEndTime}
        WHERE DID_ID = #{didId}
          AND TRIM(DID_MAC) = #{didMac}
    </update>

    <update id="updateDidInfoManage">
        UPDATE TB_DIDINFO SET
                              DID_NM = #{didNm},
                              DID_MAC = #{didMac},
                              DID_IPADDR = #{didIpaddr},
                              DID_SWVER = #{didSwver},
                              CENTER_ID = #{centerId},
                              DID_TYPE = #{didType},
                              DID_RESOLUTION = #{didResolution},
                              DID_WIDTH = #{didWidth},
                              DID_HEIGHT = #{didHeight},
                              DID_IPTYPE = #{didIptype},
                              DID_MODELTYPE = #{didModelType},
                              DID_USEYN = #{didUseYn},
                              DID_ENDTIME = #{didEndTime,jdbcType=VARCHAR},
                              LAST_UPDT_PNTTM = NOW(),
                              LAST_UPDUSR_ID = #{frstRegistPnttm,jdbcType=VARCHAR},
                              DID_REMARK = #{didRemark,jdbcType=VARCHAR},
                              ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
                              DID_OS = #{didOs,jdbcType=VARCHAR},
                              DID_SERIALTYPE = #{didSerialtype,jdbcType=VARCHAR},
                              DID_SERIALPORT = #{didSerialport,jdbcType=VARCHAR},
                              DID_MONITERCNT = #{didMonitercnt,jdbcType=VARCHAR},
                              DID_STAETTIME = #{didStartTime,jdbcType=VARCHAR},
                              DID_TIMEINTERVAL = #{didTimeInterval,jdbcType=VARCHAR},
                              DID_SERIALJAVASCRIPT = #{didSerialjavascript,jdbcType=VARCHAR}
        WHERE DID_ID = #{didId}
    </update>

    <delete id="deleteDidInfoManage">
        DELETE FROM TB_DIDINFO
        WHERE DID_ID = #{didId}
    </delete>

    <!-- integrate -->
    <select id="selectIntegrateManageListByPagination" resultType="DidInfoVO">
        SELECT * FROM
        (
        SELECT
        ROW_NUMBER() OVER (ORDER BY A.FRST_REGIST_PNTTM DESC) AS RNUM,
        TB.*
        FROM
        (
        SELECT
        A.DID_ID AS "didId",
        A.DID_NM AS "didNm",
        A.DID_IPADDR AS "didIpaddr",
        B.CENTER_NM AS "centerNm",
        CASE A.DID_STTUS WHEN 'N' THEN 'OFF'
        ELSE 'ON'
        END AS didSttus,
        A.DID_USEYN AS "didUseYn",
        FN_DETAILCODENM(A.DID_OS) AS didOs,
        A.DID_MAC AS didMac,
        C.GROUP_NM AS roleNm,
        <![CDATA[
                (
                   SELECT COUNT(*)
                   FROM TB_SCHEDULE
                   WHERE GROUP_CODE =
                   (
                      SELECT GROUP_CODE
                      FROM TB_GROUPDID
                      WHERE DID_ID = A.DID_ID
                   )
                   AND TO_CHAR(NOW(), 'YYYYMMDD') <= SCH_ENDDAY
                ) AS schCnt
                ]]>
        FROM TB_DIDINFO A
        JOIN TB_CENTERINFO B ON A.CENTER_ID = B.CENTER_ID
        JOIN LETTNAUTHORGROUPINFO C ON A.ROLE_CODE = C.GROUP_ID
        WHERE 1=1
        <if test="searchKeyword != ''">
            <choose>
                <when test="searchCondition == 'didId'">
                    AND A.DID_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <otherwise>
                    AND A.DID_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                </otherwise>
            </choose>
        </if>

        <if test="groupCode != 'EMART_00000000000002'">
            AND
            (
            A.ROLE_CODE IN (SELECT GROUP_ID FROM LETTNAUTHORGROUPINFO WHERE PARENT_GROUP_ID = #{groupCode})
            OR
            A.ROLE_CODE = #{groupCode}
            )
        </if>

        <choose>
            <when test="author_Code == 'ROLE_DID_ADMIN' or author_Code == 'ROLE_DID_USER'">
                AND A.DID_MODELTYPE IN ('DIDRMODELTYPE01', 'DIDRMODELTYPE02')
            </when>
            <when test="author_Code == 'ROLE_MUSIC_ADMIN' or author_Code == 'ROLE_MUSIC_USER'">
                AND A.DID_MODELTYPE = 'DIDRMODELTYPE03'
            </when>
        </choose>
        <if test="centerId != ''">
            AND A.CENTER_ID = #{centerId}
        </if>
        ) TB
        ) TA
        WHERE TA.RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
    </select>

    <select id="selectIntegrateRoleList" resultType="DidInfoVO">
        WITH RECURSIVE cte AS (
        SELECT
        1 AS groupLevel,
        group_nm AS roleNm,
        GROUP_ID AS groupId,
        parent_group_id as parentGroupId
        FROM LETTNAUTHORGROUPINFO
        WHERE parent_group_id = 'EMART_00000000000001'

        UNION ALL

        SELECT
        cte.groupLevel + 1,
        g.group_nm,
        g.GROUP_ID,
        g.parent_group_id
        FROM LETTNAUTHORGROUPINFO g
        JOIN cte ON g.parent_group_id = cte.groupId
        )
        SELECT groupLevel, roleNm, groupId, parentGroupId
        FROM cte
        WHERE
        <choose>
            <when test="requestSystemType == 'SIGNAGE'">
                groupId != 'EMART_00000000000005' AND parentGroupId != 'EMART_00000000000005'
            </when>
            <otherwise>
                groupId != 'EMART_00000000000003' AND parentGroupId != 'EMART_00000000000003'
            </otherwise>
        </choose>
    </select>

    <select id="selectIntegrateCenterList" resultType="DidInfoVO">
        SELECT
            center_id, center_nm
        FROM TB_CENTERINFO
        WHERE role_code = #{groupId}
        ORDER BY CENTER_ID ASC
    </select>

    <select id="selectIntegrateDeviceList" resultType="DidInfoVO">
        SELECT * FROM
        (
        SELECT
        ROW_NUMBER() OVER (ORDER BY A.FRST_REGIST_PNTTM DESC) AS RNUM,
        TB.*
        FROM
        (
        SELECT
        A.DID_ID AS "didId",
        A.DID_NM AS "didNm",
        A.DID_IPADDR AS "didIpaddr",
        B.CENTER_NM AS "centerNm",
        CASE A.DID_STTUS WHEN 'N' THEN 'OFF' ELSE 'ON' END AS didSttus,
        A.DID_USEYN AS "didUseYn",
        FN_DETAILCODENM(A.DID_OS) AS didOs,
        A.DID_MAC AS didMac,
        DID_WIDTH AS didWidth,
        DID_HEIGHT AS didHeight,
        (SELECT e.GROUP_NM FROM TB_GROUPDID d JOIN TB_GROUP e ON d.group_code = e.GROUP_CODE WHERE d.DID_ID = a.DID_ID) AS groupNm,
        (SELECT e.GROUP_CODE FROM TB_GROUPDID d JOIN TB_GROUP e ON d.group_code = e.GROUP_CODE WHERE d.DID_ID = a.DID_ID) AS groupCode,
        (
        SELECT COUNT(*) FROM TB_SCHEDULE
        <![CDATA[
                   WHERE GROUP_CODE = (SELECT group_code FROM TB_GROUPDID WHERE did_id = a.did_id) AND TO_CHAR(NOW(), 'YYYYMMDD') <= SCH_ENDDAY
                   ]]>
        ) AS schCnt
        FROM TB_DIDINFO A
        JOIN TB_CENTERINFO B ON A.CENTER_ID = B.CENTER_ID
        WHERE 1=1
        <choose>
            <when test="centerId != ''">
                AND A.CENTER_ID = #{centerId}
            </when>
            <otherwise>
                AND A.ROLE_CODE = #{groupCode}
            </otherwise>
        </choose>
        ) TB
        ) TA
        WHERE TA.RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
    </select>

    <insert id="test1">
        INSERT INTO ids VALUES ('test', 1)
    </insert>

    <update id="test2">
        UPDATE ids SET next_id = 2 WHERE table_name = 'test'
    </update>
</mapper>