<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.sts.mhs.mapper.MhsClassManageMapper">
    <select id="selectMhsClassList" resultType="MhsClassInfoVO">
        SELECT * FROM
        (
        SELECT ROW_NUMBER() OVER (ORDER BY MHS_REGDATE DESC, MHS_CLASSCD DESC) AS RNUM, TB.* FROM
        (
        SELECT
        A.MHS_BRANDCD, A.MHS_CENTERCD, A.MHS_CLASSCD, A.MHS_CLASSROOMNM, A.MHS_CLASSNM,
        A.MHS_TEACHERNM, A.MHS_CLASSSTARTDAY, A.MHS_CLASSENDDAY, A.MHS_CLASSDAYOFWEEK, A.MHS_CLASSSTARTTIME,
        A.MHS_CLASSENDTIME, A.MHS_REGID, A.MHS_REGDATE, A.MHS_UPDATEID, A.MHS_UPDATEDATE,
        A.MHS_CLASSSTATUS, C.GROUP_NM AS mhsBrandnm, B.CENTER_NM AS mhsCenternm, D.MHS_MONITORNM
        FROM TB_MHSCLASSINFO A
        JOIN TB_CENTERINFO B ON A.MHS_CENTERCD = B.CENTER_ID
        JOIN LETTNAUTHORGROUPINFO C ON A.MHS_BRANDCD = C.GROUP_ID
        JOIN TB_MHSMONITORINFO D ON A.MHS_CLASSROOMNM = D.MHS_MONITORCD
        WHERE 1=1
        <if test="authorCode == 'ROLE_MHS_USER'">
            <if test='mhsCentercd != null and mhsCentercd != "" '>
                AND A.MHS_CENTERCD = #{mhsCentercd}
            </if>
        </if>
        <if test="searchMhsBramdCd != '' and searchMhsCenterCd != null">
            AND A.MHS_BRANDCD = #{searchMhsBramdCd}
        </if>
        <if test="searchMhsCenterCd != '' and searchMhsCenterCd != null">
            AND A.MHS_CENTERCD = #{searchMhsCenterCd}
        </if>
        <choose>
            <when test="searchCondition == 'MHS_CLASSROOMNM' and searchKeyword != ''">
                AND D.MHS_MONITORNM LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchCondition == 'MHS_CLASSNM' and searchKeyword != ''">
                AND A.MHS_CLASSNM LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchCondition == 'MHS_TEACHERNM' and searchKeyword != ''">
                AND A.MHS_TEACHERNM LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
        </choose>
        ) TB
        ) TA
        WHERE TA.RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
    </select>

    <select id="selectMhsMoniterClassList" resultType="MhsClassInfo">
       <![CDATA[
        SELECT
            A.MHS_BRANDCD, A.MHS_CENTERCD, A.MHS_CLASSCD, A.MHS_CLASSROOMNM, A.MHS_CLASSNM,
            A.MHS_TEACHERNM, A.MHS_CLASSSTARTDAY, A.MHS_CLASSENDDAY, A.MHS_CLASSDAYOFWEEK, A.MHS_CLASSSTARTTIME, A.MHS_CLASSENDTIME,
            A.MHS_REGID, A.MHS_REGDATE, A.MHS_UPDATEID, A.MHS_UPDATEDATE, A.MHS_CLASSSTATUS,
            C.GROUP_NM AS MHSBRANDNM, B.CENTER_NM, D.MHS_MONITORNM
        FROM TB_MHSCLASSINFO A
                 JOIN TB_CENTERINFO B ON A.MHS_CENTERCD = B.CENTER_ID
                 JOIN LETTNAUTHORGROUPINFO C ON A.MHS_BRANDCD = C.GROUP_ID
                 JOIN TB_MHSMONITORINFO D ON A.MHS_CLASSROOMNM = D.MHS_MONITORCD
        WHERE A.MHS_BRANDCD = #{mhsBrandcd}
          AND A.MHS_CENTERCD = #{mhsCentercd}
          AND A.MHS_CLASSENDDAY >= TO_CHAR(NOW(), 'YYYYMMDD')
        ]]>
    </select>

    <select id="selectMhsClassListCnt" resultType="java.lang.Integer">
        SELECT COALESCE(COUNT(*), 0)
        FROM TB_MHSCLASSINFO A
        JOIN TB_CENTERINFO B ON A.MHS_CENTERCD = B.CENTER_ID
        JOIN LETTNAUTHORGROUPINFO C ON A.MHS_BRANDCD = C.GROUP_ID
        JOIN TB_MHSMONITORINFO D ON A.MHS_CLASSROOMNM = D.MHS_MONITORCD
        WHERE 1=1
        <if test="searchMhsBramdCd != '' and searchMhsCenterCd != null">
            AND A.MHS_BRANDCD = #{searchMhsBramdCd}
        </if>
        <if test="searchMhsCenterCd != '' and searchMhsCenterCd != null">
            AND A.MHS_CENTERCD = #{searchMhsCenterCd}
        </if>
        <choose>
            <when test="searchCondition == 'a.MHS_CLASSROOMNM' and searchKeyword != ''">
                AND D.MHS_MONITORNM LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchCondition == 'a.MHS_CLASSNM' and searchKeyword != ''">
                AND A.MHS_CLASSNM LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchCondition == 'a.MHS_TEACHERNM' and searchKeyword != ''">
                AND A.MHS_TEACHERNM LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
        </choose>
    </select>

    <select id="selectMhsClassInfo" resultType="MhsClassInfoVO">
        SELECT
            MHS_BRANDCD, MHS_CENTERCD, MHS_CLASSCD, MHS_CLASSROOMNM, MHS_CLASSNM, MHS_TEACHERNM,
            MHS_CLASSSTARTDAY, MHS_CLASSENDDAY, MHS_CLASSDAYOFWEEK, MHS_CLASSSTARTTIME, MHS_CLASSENDTIME,
            MHS_REGID, MHS_REGDATE, MHS_UPDATEID, MHS_UPDATEDATE, MHS_CLASSSTATUS,
            MHS_CLASSINTRO
        FROM TB_MHSCLASSINFO
        WHERE MHS_CLASSCD = #{mhsClasscd}
    </select>

    <!-- MHS_CLASSCD 채번용 최대값 조회(MhsClassInfoManageService.generateMhsClasscd에서 사용) -->
    <select id="selectMaxMhsClasscd" resultType="java.lang.String">
        SELECT MAX(MHS_CLASSCD)
        FROM TB_MHSCLASSINFO
    </select>

    <!-- MHS_CLASSCD는 MhsClassInfoManageService.generateMhsClasscd()에서 애플리케이션 레벨로
         채번함(원본은 EgovIdGnrService(egovUsrCnfrmMhsClassService) 사용, did_emart에 미구성) -->
    <insert id="insertMhsClassInfo">
        INSERT INTO TB_MHSCLASSINFO
        (
            MHS_BRANDCD, MHS_CENTERCD, MHS_CLASSCD, MHS_CLASSROOMNM, MHS_CLASSNM,
            MHS_TEACHERNM, MHS_CLASSSTARTDAY, MHS_CLASSENDDAY, MHS_CLASSDAYOFWEEK, MHS_CLASSSTARTTIME,
            MHS_CLASSENDTIME, MHS_REGID, MHS_REGDATE, MHS_UPDATEID, MHS_UPDATEDATE,
            MHS_CLASSSTATUS, MHS_CLASSINTRO
        )
        VALUES
            (
                #{mhsBrandcd}, #{mhsCentercd}, #{mhsClasscd}, #{mhsClassroomnm}, #{mhsClassnm},
                #{mhsTeachernm}, #{mhsClassstartday}, #{mhsClassendday}, #{mhsClassdayofweek}, #{mhsClassstarttime},
                #{mhsClassendtime}, #{mhsRegid,jdbcType=VARCHAR}, NOW(), #{mhsRegid,jdbcType=VARCHAR}, NOW(),
                #{mhsClassstatus}, #{mhsClassintro}
            )
    </insert>

    <update id="updateMhsClassInfo">
        UPDATE TB_MHSCLASSINFO SET
        MHS_BRANDCD = #{mhsBrandcd},
        MHS_CENTERCD = #{mhsCentercd},
        MHS_CLASSROOMNM = #{mhsClassroomnm},
        MHS_CLASSNM = #{mhsClassnm},
        MHS_TEACHERNM = #{mhsTeachernm},
        MHS_CLASSSTARTDAY = #{mhsClassstartday},
        MHS_CLASSENDDAY = #{mhsClassendday},
        MHS_CLASSDAYOFWEEK = #{mhsClassdayofweek,jdbcType=VARCHAR},
        MHS_CLASSSTARTTIME = #{mhsClassstarttime,jdbcType=VARCHAR},
        MHS_CLASSENDTIME = #{mhsClassendtime,jdbcType=VARCHAR},
        MHS_UPDATEID = #{mhsUpdateid,jdbcType=VARCHAR},
        <if test="mhsClassintro != '' and mhsClassintro != null">
            MHS_CLASSINTRO = #{mhsClassintro},
        </if>
        MHS_UPDATEDATE = NOW(),
        MHS_CLASSSTATUS = #{mhsClassstatus,jdbcType=VARCHAR}
        WHERE MHS_CLASSCD = #{mhsClasscd}
    </update>

    <delete id="deleteMhsClassInfo">
        DELETE FROM TB_MHSCLASSINFO
        WHERE MHS_CLASSCD = #{mhsClasscd}
    </delete>
</mapper>