<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.sts.brd.mapper.BasicFileGroupInfoManageMapper">
    <select id="selectBasicGroupInfoLst" resultType="BasicFileGroupInfoVO">
        SELECT *
        FROM
            (
                SELECT
                    ROW_NUMBER() OVER (ORDER BY A.GROUP_STARTTIME ASC) AS RNUM,
                    TB.*
                FROM
                    (
                        SELECT
                            A.GROUP_SEQ, A.BASIC_CODE, A.GROUP_STARTTIME, A.GROUP_ENDTIME, A.GROUP_TITLE,
                            A.LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID,
                            (
                                SELECT COALESCE(COUNT(*), 0)
                                FROM TB_BRODBASICFILE_IVL B
                                WHERE A.GROUP_SEQ = B.GROUP_SEQ
                                  AND TO_CHAR(NOW(), 'YYYYMMDD') BETWEEN B.BROD_STARTDAY AND B.BROD_ENDDAY
                            ) AS FILECNT
                        FROM TB_BASICFILEGROUP A
                        WHERE 1=1
                          AND TRIM(A.BASIC_CODE) = #{basicCode}
                    ) TB
            ) TA
        WHERE TA.RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
    </select>

    <select id="selectMaxGroupSeq" resultType="java.lang.String">
        SELECT MAX(GROUP_SEQ)
        FROM TB_BASICFILEGROUP
    </select>

    <select id="selectBasicGroupInfoDetail" resultType="BasicFileGroupInfoVO">
        SELECT
            A.GROUP_SEQ, A.BASIC_CODE, A.GROUP_STARTTIME, A.GROUP_ENDTIME, A.GROUP_TITLE,
            A.LAST_UPDT_PNTTM, A.LAST_UPDUSR_ID, GROUP_TIMEGUBUN
        FROM TB_BASICFILEGROUP A
        WHERE A.GROUP_SEQ = #{groupSeq}
    </select>

    <select id="selectBasicGroupInfoCombo" resultType="BasicFileGroupInfoVO">
        SELECT GROUP_SEQ, GROUP_TITLE
        FROM TB_BASICFILEGROUP
    </select>

    <select id="selectBasicGroupPreCheck" resultType="BasicFileGroupInfoVO">
        SELECT
            (
                SELECT COALESCE(COUNT(*), 0)
                FROM TB_BASICFILEGROUP
                WHERE BASIC_CODE = #{basicCode}
                  AND GROUP_TIMEGUBUN = 'TIME_INPUT_2'
                  AND (TO_CHAR(TO_TIMESTAMP(GROUP_STARTTIME, 'HH24:MI') + INTERVAL '1 minute', 'HH24MI') BETWEEN #{groupStarttime} AND #{groupEndtime}
                    OR TO_CHAR(TO_TIMESTAMP(GROUP_ENDTIME, 'HH24:MI') - INTERVAL '1 minute', 'HH24MI') BETWEEN #{groupStarttime} AND #{groupEndtime})
            ) AS timeCnt,
            (
                SELECT COALESCE(COUNT(*), 0)
                FROM TB_BASICFILEGROUP
                WHERE BASIC_CODE = #{basicCode}
                  AND GROUP_TIMEGUBUN = 'TIME_INPUT_1'
            ) AS inutCnt
    </select>

    <insert id="insertBasicGroupInfo">
        INSERT INTO TB_BASICFILEGROUP
        (
            GROUP_SEQ, BASIC_CODE, GROUP_STARTTIME, GROUP_ENDTIME, GROUP_TITLE,
            FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID, FILE_CNT,
            GROUP_TIMEGUBUN
        )
        VALUES
            (
                NEXTVAL('basicgroup_seq'), #{basicCode}, #{groupStarttime}, #{groupEndtime}, #{groupTitle},
                NOW(), #{userId,jdbcType=VARCHAR}, NOW(), #{userId,jdbcType=VARCHAR}, 0,
                #{groupTimegubun,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateBasicGroupInfo">
        UPDATE TB_BASICFILEGROUP SET
                                     GROUP_STARTTIME = #{groupStarttime},
                                     GROUP_ENDTIME = #{groupEndtime},
                                     GROUP_TITLE = #{groupTitle},
                                     LAST_UPDT_PNTTM = NOW(),
                                     LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR},
                                     GROUP_TIMEGUBUN = #{groupTimegubun,jdbcType=VARCHAR}
        WHERE GROUP_SEQ = #{groupSeq}
    </update>

    <insert id="insertBasicGroupCopy">
        INSERT INTO TB_BASICFILEGROUP
        (
            BROD_FILESEQ, BASIC_CODE, GROUP_STARTTIME, GROUP_ENDTIME, GROUP_TITLE,
            FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID, GROUP_TIMEGUBUN,
            FILE_CNT
        )
        SELECT
            NEXTVAL('basicgroup_seq'), #{basicCode}, #{groupStarttime}, #{groupEndtime}, #{groupTitle},
            NOW(), #{userId,jdbcType=VARCHAR}, NOW(), #{userId,jdbcType=VARCHAR}, #{groupTimegubun,jdbcType=VARCHAR},
            FILE_CNT
        FROM TB_BASICFILEGROUP
        WHERE GROUP_SEQ = #{cp_copyGroupSeq}
    </insert>

    <update id="updateGroupFileCnt">
        UPDATE TB_BASICFILEGROUP SET
        GROUP_TITLE = GROUP_TITLE
        <if test="filePls != ''">
            , FILE_CNT = FILE_CNT + 1
        </if>
        <if test="fileMin != ''">
            , FILE_CNT = FILE_CNT - 1
        </if>
        WHERE GROUP_SEQ = #{groupSeq}
    </update>

    <delete id="deleteBasicGroup">
        DELETE FROM TB_BASICFILEGROUP
        WHERE GROUP_SEQ = #{groupSeq}
    </delete>

    <delete id="deleteBasicGroupBrodCode">
        DELETE FROM TB_BASICFILEGROUP
        WHERE BASIC_CODE = #{basicCode}
    </delete>
</mapper>