<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.sts.brd.mapper.BrodContentDetailTimeManagerMapper">
    <insert id="insertBrodContentDetailTime">
        INSERT INTO TB_BRODIMSI
        (
            IMSI_SEQ, BROD_CODE, ATCH_FILE_ID, INTERVAL_SECTION, CONTENT_STARTDAY,
            CONTENT_ENDDAY
        )
        VALUES
            (
                NEXTVAL('brodconimsi_seq'), #{brodCode}, #{atchFileId}, #{intervalSection}, #{contentStartDay,jdbcType=VARCHAR},
                #{contentEndDay,jdbcType=VARCHAR}
            )
    </insert>

    <delete id="deleteBrodContentDetailTime">
        DELETE FROM TB_BRODIMSI
        WHERE IMSI_SEQ = #{imsiSeq}
    </delete>

    <delete id="deleteBrodContentDetailTimeBrodCode">
        DELETE FROM TB_BRODIMSI
        WHERE BROD_CODE = #{brodCode}
    </delete>
</mapper>