<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.backoffice.uat.hri.mapper.ManagerInfoManagerMapper">

    <select id="selectManagerManageListByPagination" resultType="camelmap">
        SELECT COUNT(*) OVER() AS TOTAL_RECORD_COUNT,
        TB.* FROM (
            SELECT
                A.MANAGER_ID, A.MANAGER_NAME, A.USE_YN,
                A.PART_ID, C.PART_NM,
                A.EMP_NO, A.MANAGER_STATUS,
                A.ROLE_ID, R.ROLE_NAME,
                A.CENTER_ID,
                A.MANAGER_EMAIL, A.MANAGER_TEL,
                TO_CHAR(A.LAST_UPDT_PNTTM, 'YYYY-MM-DD HH24:MI') AS LAST_UPDT_PNTTM,
                A.LAST_UPDUSR_ID
            FROM tb_managerinfo A
            LEFT JOIN tb_partinfo C ON A.PART_ID = C.PART_ID
            LEFT JOIN tb_roleinfo R ON A.ROLE_ID = R.ROLE_ID
            WHERE 1=1
            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
                <choose>
                    <when test="params.searchCondition == 'managerId'">
                        AND A.MANAGER_ID LIKE CONCAT('%', #{params.searchKeyword}, '%')
                    </when>
                    <otherwise>
                        AND (A.MANAGER_ID LIKE CONCAT('%', #{params.searchKeyword}, '%')
                             OR A.MANAGER_NAME LIKE CONCAT('%', #{params.searchKeyword}, '%'))
                    </otherwise>
                </choose>
            </if>
            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchRoleId)">
                AND A.ROLE_ID = #{params.searchRoleId}
            </if>
            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchPartId)">
                AND A.PART_ID = #{params.searchPartId}
            </if>
            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchUseYn)">
                AND A.USE_YN = #{params.searchUseYn}
            </if>
            ORDER BY A.MANAGER_ID ASC
        ) TB
        LIMIT #{params.recordCountPerPage} OFFSET #{params.firstIndex}
    </select>

    <select id="selectManagerManageDetail" resultType="ManagerInfoResDto">
        SELECT A.MANAGER_ID, A.MANAGER_PASSWORD, A.MANAGER_NAME, A.USE_YN, A.PART_ID,
               A.MANAGER_EMAIL, A.MANAGER_TEL,
               TO_CHAR(A.FRST_REGIST_PNTTM, 'YYYY-MM-DD') AS FRST_REGIST_PNTTM,
               A.LOCK_YN, A.EMP_NO, A.MANAGER_STATUS,
               A.FRST_REGISTER_ID, A.LAST_UPDUSR_ID,
               TO_CHAR(A.LAST_UPDT_PNTTM, 'YYYY-MM-DD HH24:MI') AS LAST_UPDT_PNTTM,
               A.ROLE_ID, A.ROLE_GUBUN, A.MANAGER_POSITION, A.MANAGER_PIC,
               A.PASSWORD_HINT, A.PASSWORD_CNSR, A.CENTER_ID, A.DLTN_YN
        FROM tb_managerinfo A
        WHERE A.MANAGER_ID = #{managerId}
    </select>

    <select id="selectManagerUserMangerIDCheck" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_managerinfo
        WHERE MANAGER_ID = #{managerId}
    </select>

    <select id="selectManagerPasswordCheck" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_managerinfo
        WHERE MANAGER_ID = #{params.managerId}
          AND MANAGER_PASSWORD = #{params.managerPassword}
    </select>

    <insert id="insertManagerManage">
        INSERT INTO tb_managerinfo (
            MANAGER_ID, MANAGER_PASSWORD, MANAGER_NAME, USE_YN, PART_ID,
            MANAGER_EMAIL, MANAGER_TEL, FRST_REGIST_PNTTM, LOCK_YN, EMP_NO, MANAGER_STATUS,
            FRST_REGISTER_ID, LAST_UPDUSR_ID, LAST_UPDT_PNTTM,
            ROLE_ID, ROLE_GUBUN, MANAGER_POSITION, MANAGER_PIC,
            PASSWORD_HINT, PASSWORD_CNSR, CENTER_ID, DLTN_YN
        )
        VALUES (
            #{managerId}, #{managerPassword}, #{managerName}, #{useYn}, #{partId,jdbcType=VARCHAR},
            #{managerEmail,jdbcType=VARCHAR}, #{managerTel,jdbcType=VARCHAR}, NOW(), 'N',
            #{empNo,jdbcType=VARCHAR}, #{managerStatus,jdbcType=VARCHAR},
            #{userId}, #{userId}, NOW(),
            #{roleId,jdbcType=VARCHAR}, #{roleGubun,jdbcType=VARCHAR}, #{managerPosition,jdbcType=VARCHAR}, #{managerPic,jdbcType=VARCHAR},
            #{passwordHint,jdbcType=VARCHAR}, #{passwordCnsr,jdbcType=VARCHAR}, #{centerId,jdbcType=VARCHAR}, 'N'
        )
    </insert>

    <update id="updateManagerManage">
        UPDATE tb_managerinfo SET
            MANAGER_NAME = #{managerName},
            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(managerPassword)">
            MANAGER_PASSWORD = #{managerPassword},
            </if>
            USE_YN = #{useYn},
            PART_ID = #{partId,jdbcType=VARCHAR},
            MANAGER_EMAIL = #{managerEmail,jdbcType=VARCHAR},
            MANAGER_TEL = #{managerTel,jdbcType=VARCHAR},
            LOCK_YN = #{lockYn,jdbcType=VARCHAR},
            EMP_NO = #{empNo,jdbcType=VARCHAR},
            MANAGER_STATUS = #{managerStatus,jdbcType=VARCHAR},
            ROLE_ID = #{roleId,jdbcType=VARCHAR},
            ROLE_GUBUN = #{roleGubun,jdbcType=VARCHAR},
            MANAGER_POSITION = #{managerPosition,jdbcType=VARCHAR},
            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(managerPic)">
            MANAGER_PIC = #{managerPic,jdbcType=VARCHAR},
            </if>
            CENTER_ID = #{centerId,jdbcType=VARCHAR},
            LAST_UPDUSR_ID = #{userId},
            LAST_UPDT_PNTTM = NOW()
        WHERE MANAGER_ID = #{managerId}
    </update>

    <update id="updatePassChange">
        UPDATE tb_managerinfo SET
            MANAGER_PASSWORD = #{managerPassword},
            LAST_UPDUSR_ID = #{userId},
            LAST_UPDT_PNTTM = NOW()
        WHERE MANAGER_ID = #{managerId}
    </update>

    <update id="updagteManageState">
        UPDATE tb_managerinfo SET
            MANAGER_STATUS = #{managerStatus,jdbcType=VARCHAR},
            LAST_UPDUSR_ID = #{userId},
            LAST_UPDT_PNTTM = NOW()
        WHERE MANAGER_ID = #{managerId}
    </update>

    <update id="updateUseYn">
        UPDATE tb_managerinfo SET
            USE_YN = #{useYn,jdbcType=VARCHAR},
            LAST_UPDUSR_ID = #{userId},
            LAST_UPDT_PNTTM = NOW()
        WHERE MANAGER_ID = #{managerId}
    </update>

    <delete id="deleteManagerMange">
        DELETE FROM tb_managerinfo
        WHERE MANAGER_ID = #{managerId}
    </delete>
</mapper>
